<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">{{actionDisplay}}</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Purchasing → Capture Invoice</li>
          </ol>
        </div>
      </div>
      <div class="table-align" [ngClass]="{'border-complete-left': data?.invoice.allItemsReceived === true, 'border-incomplete-left' : data?.invoice.allItemsReceived === false }">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12 table-col">
            <h5 class="io-view-heading">Internal Order Details</h5>
            <dx-form id="form" *ngIf="data?.internalOrder != null; else DataLoading" [(formData)]="data.internalOrder">
              <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                <dxi-item dataField="requestByFullName" [editorOptions]="{ readOnly: true }"><dxo-label [text]="'Request By'"></dxo-label></dxi-item>
                <dxi-item dataField="placedByFullName" [editorOptions]="{ readOnly: true }"><dxo-label [text]="'Placed By'"></dxo-label></dxi-item>
                <dxi-item dataField="supplierFullName" [editorOptions]="{ readOnly: true }"><dxo-label [text]="'Supplier'"></dxo-label></dxi-item>
                <dxi-item dataField="dateApproved" editorType="dxDateBox" [editorOptions]="{ readOnly: true }"><dxo-label [text]="'Date Approved'"></dxo-label></dxi-item>
                <dxi-item dataField="vat" [editorOptions]="{readOnly: true,format:{ type: 'currency',currency: currency, precision: 2 }}"><dxo-label [text]="'VAT'"></dxo-label></dxi-item>
                <dxi-item dataField="total" [editorOptions]="{readOnly: true,format:{ type: 'currency',currency: currency, precision: 2 }}"><dxo-label [text]="'Order Total (Excl. VAT)'"></dxo-label></dxi-item>
                <dxi-item dataField="comment" editorType="dxTextArea" [editorOptions]="{ height: 70, stylingMode: 'filled', readOnly: true }">
                  <dxo-label [text]="'Internal Comment'"></dxo-label>
                </dxi-item>
                <dxi-item dataField="internalComment" editorType="dxTextArea" [editorOptions]="{ height: 70, stylingMode: 'filled', readOnly: true }">
                  <dxo-label [text]="'Additional Comment'"></dxo-label>
                </dxi-item>
              </dxi-item>
            </dx-form>
          </div>
        </div>
      </div>
      <div class="table-align" [ngClass]="{'border-complete-left': data?.invoice.allItemsReceived === true, 'border-incomplete-left' : data?.invoice.allItemsReceived === false }">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12 table-col">
            <h5 class="io-view-heading">Invoice Details</h5>
            <dx-form id="form" class="invoice-form" *ngIf="data?.invoice != null; else DataLoading" [(formData)]="data.invoice" validationGroup="invoiceData">
              <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                <dxi-item dataField="invoiceNumber"><dxo-label [text]="'Invoice Number'"></dxo-label><dxi-validation-rule type="required"></dxi-validation-rule></dxi-item>
                <!--<dxi-item dataField="total" [editorOptions]="{format:{ type: 'currency',currency: currency, precision: 2 },readOnly: true,dataType:'number'}"><dxo-label [text]="'Invoice Total (Excl. VAT)'"></dxo-label><dxi-validation-rule type="compare" comparisonType=">" [comparisonTarget]="checkComparison" message="Invoice Total Required"></dxi-validation-rule></dxi-item>-->
                <dxi-item dataField="expectedTotal" [editorOptions]="{format:{ type: 'currency',currency: currency, precision: 2 },readOnly: true,dataType:'number',inputAttr: {'style': 'border: 1px solid #ffff0091;'}}"><dxo-label [text]="'Expected line item(s) total (Excl. VAT)'"></dxo-label></dxi-item>
                <dxi-item dataField="vat" [editorOptions]="{readOnly: true,format:{ type: 'currency',currency: currency, precision: 2 }}"><dxo-label [text]="'VAT'"></dxo-label></dxi-item>
              </dxi-item>
              <dxi-item itemType="group" [colCount]="2" [colSpan]="2" caption="Line Items">
                <dx-tab-panel #tabPanel
                              [dataSource]="tabs"
                              [selectedIndex]="0"
                              [loop]="false"
                              [animationEnabled]="true"
                              [swipeEnabled]="true">
                  <div *dxTemplate="let tab of 'title'">
                    <span>{{tab.text}}</span>
                  </div>
                  <div *dxTemplate="let tab of 'item'" class="tabs">
                    <div class="tabpanel-item">
                      <div *ngIf="tab.text == 'Listed Items'">
                        <div style="width: auto; height: auto">
                          <dx-form id="form" class="invoice-form" *ngIf="data != null; else DataLoading" [(formData)]="data.internalOrderItems" validationGroup="internalOrderData">
                            <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                              <dx-data-grid #invoiceitems id="invoiceitems" [dataSource]="data.invoice.invoiceItems"
                                            [columnAutoWidth]="true"
                                            [hoverStateEnabled]="true"
                                            [rowAlternationEnabled]="true"
                                            (onEditorPreparing)="onEditorPreparingChild($event)"
                                            (onSaved)="onSaved($event)"
                                            [showBorders]="true">
                                <dxo-sorting mode="none"></dxo-sorting>
                                <dxo-paging [enabled]="false"></dxo-paging>
                                <dxo-search-panel [visible]="true"></dxo-search-panel>
                                <dxo-editing mode="cell"
                                             [allowUpdating]="true"
                                             [allowDeleting]="false"
                                             [allowAdding]="false">
                                </dxo-editing>
                                <dxi-column caption="Internal Desc" dataField="internalProductName" [allowEditing]="false"></dxi-column>
  <dxi-column caption="Item Code" dataField="manufacturerCode" [allowEditing]="false"></dxi-column>
  <dxi-column caption="Supplier Desc" dataField="productName" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="glcodeId" caption="GL Code" [allowEditing]="false">
              <dxo-lookup [dataSource]="GLCodeForeignDataSource"
                          [displayExpr]="getGLName"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="departmentId" caption="Department" [allowEditing]="false" [width]="90">
              <dxi-validation-rule type="required"></dxi-validation-rule>
              <dxo-lookup [dataSource]="DepartmentForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column caption="UoM" dataField="uomName" [allowEditing]="false"></dxi-column>
            <!--<dxi-column caption="GRN Qty Rec" dataField="grnQtyTotal" [allowEditing]="false"></dxi-column>-->
            <dxi-column caption="Qty Ordered" dataField="requiredQuantity" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Qty Remaining" [calculateDisplayValue]="getRemaining" dataField="remaining" [allowEditing]="false"></dxi-column>
            <!--<dxi-column caption="Qty" dataField="quantity" [allowEditing]="true" [setCellValue]="setCellValueQuantity"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>-->
            <dxi-column caption="Qty Received" dataField="quantity" [allowEditing]="false" [setCellValue]="setCellValueQuantity"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
            <dxi-column caption="Pack Size" dataField="packSize" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Total (UoM)" [calculateDisplayValue]="getTotalUomReceived" dataField="totalUomReceived" [allowEditing]="false" dataType="number"></dxi-column>
            <dxi-column caption="Price per PO" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="itemValue" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Invoice Price" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="invoicePrice" cssClass="cell-highlighted" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="vatAppl" caption="VAT Appl" dataType="boolean" [allowEditing]="false" [width]="50">
              <dx-check-box [value]="false"></dx-check-box>
            </dxi-column>
            <dxi-column caption="Total (Excl. VAT)" [format]="{ type: 'currency',currency: currency, precision: 2 }" [calculateDisplayValue]="getTotal" dataField="getTotal" [allowEditing]="false" dataType="number"></dxi-column>
          </dx-data-grid>
        </dxi-item>
      </dx-form>
    </div>
  </div>
  <div *ngIf="tab.text == 'Once-Off Items'">
    <div style="width: auto; height: auto">
      <dx-form id="form" class="invoice-form" *ngIf="data != null; else DataLoading" [(formData)]="data.onceOffItems" validationGroup="internalOrderData">
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dx-data-grid #invoiceitems id="invoiceitems" [dataSource]="data.invoice.invoiceOnceOffItems"
                        [columnAutoWidth]="true"
                        [hoverStateEnabled]="true"
                        [rowAlternationEnabled]="true"
                        (onEditorPreparing)="onEditorPreparingChild($event)"
                        (onSaved)="onSaved($event)"
                        [showBorders]="true">
            <dxo-sorting mode="none"></dxo-sorting>
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-editing mode="cell"
                         [allowUpdating]="true"
                         [allowDeleting]="false"
                         [allowAdding]="false">
            </dxo-editing>
            <dxi-column caption="Item Code" dataField="code" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Supplier Desc" dataField="description" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="glcodeId" caption="GL Code" [allowEditing]="false">
              <dxo-lookup [dataSource]="GLCodeForeignDataSource"
                          [displayExpr]="getGLName"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="departmentId" caption="Department" [allowEditing]="false" [width]="90">
              <dxi-validation-rule type="required"></dxi-validation-rule>
              <dxo-lookup [dataSource]="DepartmentForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column caption="UoM" dataField="uomName" [allowEditing]="false"></dxi-column>
            <!--<dxi-column caption="GRN Qty Rec" dataField="grnQtyTotal" [allowEditing]="false"></dxi-column>-->
            <dxi-column caption="Qty Ordered" dataField="requiredQuantity" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Qty Remaining" [calculateDisplayValue]="getRemaining" dataField="remaining" [allowEditing]="false"></dxi-column>
            <!--<dxi-column caption="" dataField="quantity" [allowEditing]="false" [visible]="false"></dxi-column>-->
            <dxi-column caption="Qty Received" dataField="quantity" [allowEditing]="false"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
            <dxi-column caption="Pack Size" dataField="packSize" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Total (UoM)" [calculateDisplayValue]="getTotalUomReceived" dataField="totalUomReceived" [allowEditing]="false" dataType="number"></dxi-column>
            <dxi-column caption="Price per PO" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="itemValue" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Invoice Price" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="invoicePrice" cssClass="cell-highlighted" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="vatAppl" caption="VAT Appl" dataType="boolean" [allowEditing]="false" [width]="50">
              <dx-check-box [value]="false"></dx-check-box>
            </dxi-column>
            <dxi-column caption="Total (Excl. VAT)" [format]="{ type: 'currency',currency: currency, precision: 2 }" [calculateDisplayValue]="getTotal" dataField="getTotal" [allowEditing]="false" dataType="number"></dxi-column>
          </dx-data-grid>
        </dxi-item>
      </dx-form>
    </div>
  </div>
  <div *ngIf="tab.text == 'Services'">
    <div style="width: auto; height: auto">
      <dx-form id="form" class="invoice-form" *ngIf="data != null; else DataLoading" [(formData)]="data.services" validationGroup="internalOrderData">
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dx-data-grid #invoiceitems id="invoiceitems" [dataSource]="data.invoice.invoiceServiceItems"
                        [columnAutoWidth]="true"
                        [hoverStateEnabled]="true"
                        [rowAlternationEnabled]="true"
                        (onEditorPreparing)="onEditorPreparingChild($event)"
                        (onSaved)="onSaved($event)"
                        [showBorders]="true">
            <dxo-sorting mode="none"></dxo-sorting>
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-editing mode="cell"
                         [allowUpdating]="true"
                         [allowDeleting]="false"
                         [allowAdding]="false">
            </dxo-editing>
            <dxi-column caption="Code" dataField="code" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Supplier Desc" dataField="description" [allowEditing]="false"></dxi-column>
            <dxi-column dataField="glcodeId" caption="GL Code" [allowEditing]="false">
              <dxo-lookup [dataSource]="GLCodeForeignDataSource"
                          [displayExpr]="getGLName"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="departmentId" caption="Department" [allowEditing]="false" [width]="90">
              <dxi-validation-rule type="required"></dxi-validation-rule>
              <dxo-lookup [dataSource]="DepartmentForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column caption="Qty Ordered" dataField="requiredQuantity" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Qty Remaining" [calculateDisplayValue]="getRemaining" dataField="remaining" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Qty Received" dataField="quantity" [allowEditing]="true" [setCellValue]="setCellValueQuantity" [calculateDisplayValue]="autoAddService"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
            <dxi-column caption="Price per PO" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="itemValue" [allowEditing]="false"></dxi-column>
            <dxi-column caption="Invoice Price" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="invoicePrice" cssClass="cell-highlighted" [allowEditing]="true"></dxi-column>
            <dxi-column dataField="vatAppl" caption="VAT Appl" dataType="boolean" [allowEditing]="false" [width]="50">
              <dx-check-box [value]="false"></dx-check-box>
            </dxi-column>
            <dxi-column caption="Total (Excl. VAT)" [format]="{ type: 'currency',currency: currency, precision: 2 }" [calculateDisplayValue]="getTotalService" dataField="getTotal" [allowEditing]="false" dataType="number"></dxi-column>
          </dx-data-grid>
        </dxi-item>
      </dx-form>
    </div>
  </div>
  <div *ngIf="tab.text == 'Summary'">
    <div style="width: auto; height: auto">
      <dx-form id="form" class="invoice-form" *ngIf="data != null; else DataLoading" [(formData)]="data">
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dx-scroll-view width="100%" height="100%">
            <div style="width: auto; height: auto">
              <h5 class="io-view-heading-preview">Invoice Summary</h5>
              <div class="IO-Details">
                <table class="table table-centered table-nowrap internalOrder">
                  <tbody>
                    <tr>
                      <td><strong>Requested By:</strong> {{requestedBy}}</td>
                      <td><strong>Placed By:</strong> {{placedBy}}</td>
                    </tr>
                    <tr>
                      <td><strong>Supplier:</strong> {{supplier}}</td>
                      <td><strong>Date Approved:</strong> {{dateApproved | date: 'dd MMMM yy'}}</td>
                    </tr>
                    <tr>
                      <td><strong>VAT:</strong> {{vat | currency : currency}}</td>
                      <td><strong>Order Total:</strong>{{total | currency : currency}}</td>
                    </tr>
                    <tr>
                      <td style="white-space: pre-wrap;"><strong>Internal Comment:</strong> {{comment}}</td>
                      <td style="white-space: pre-wrap;"><strong>Additional Comment:</strong> {{additionalComment}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Listed Items-->
              <h5 class="io-view-heading-preview" *ngIf="data?.invoice.invoiceItems.length > 0">Listed Items</h5>
              <dx-form id="form" class="invoice-form" *ngIf="data != null; else DataLoading" [(formData)]="data.internalOrderItems" validationGroup="internalOrderData">
                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                  <dx-data-grid #invoiceitems id="invoiceitems" [dataSource]="data.invoice.invoiceItems"
                                [columnAutoWidth]="true"
                                [hoverStateEnabled]="true"
                                [rowAlternationEnabled]="true"
                                (onEditorPreparing)="onEditorPreparingChild($event)"
                                (onSaved)="onSaved($event)"
                                [showBorders]="true">
                    <dxo-sorting mode="none"></dxo-sorting>
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxo-search-panel [visible]="false"></dxo-search-panel>
                    <dxo-editing mode="cell"
                                 [allowUpdating]="true"
                                 [allowDeleting]="false"
                                 [allowAdding]="false">
                    </dxo-editing>
                    <dxi-column caption="Internal Desc" dataField="internalProductName" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Item Code" dataField="manufacturerCode" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Supplier Desc" dataField="productName" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="glcodeId" caption="GL Code" [allowEditing]="false">
                      <dxo-lookup [dataSource]="GLCodeForeignDataSource"
                                  [displayExpr]="getGLName"
                                  valueExpr="id">
                      </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="departmentId" caption="Department" [allowEditing]="false" [width]="90">
                      <dxi-validation-rule type="required"></dxi-validation-rule>
                      <dxo-lookup [dataSource]="DepartmentForeignDataSource"
                                  displayExpr="name"
                                  valueExpr="id">
                      </dxo-lookup>
                    </dxi-column>
                    <dxi-column caption="UoM" dataField="uomName" [allowEditing]="false"></dxi-column>
                    <!--<dxi-column caption="GRN Qty Rec" dataField="grnQtyTotal" [allowEditing]="false"></dxi-column>-->
                    <dxi-column caption="Qty Ordered" dataField="requiredQuantity" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Qty Remaining" [calculateDisplayValue]="getRemaining" dataField="remaining" [allowEditing]="false"></dxi-column>
                    <!--<dxi-column caption="Qty Received" dataField="quantity" [allowEditing]="true" [setCellValue]="setCellValueQuantity"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>-->
                    <dxi-column caption="Qty Received" dataField="quantity" [allowEditing]="false" [setCellValue]="setCellValueQuantity"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
                    <dxi-column caption="Pack Size" dataField="packSize" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Total (UoM)" [calculateDisplayValue]="getTotalUomReceived" dataField="totalUomReceived" [allowEditing]="false" dataType="number"></dxi-column>
                    <dxi-column caption="Price per PO" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="itemValue" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Invoice Price" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="invoicePrice" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="vatAppl" caption="VAT Appl" dataType="boolean" [allowEditing]="false" [width]="50">
                      <dx-check-box [value]="false"></dx-check-box>
                    </dxi-column>
                    <dxi-column caption="Total (Excl. VAT)" [format]="{ type: 'currency',currency: currency, precision: 2 }" [calculateDisplayValue]="getTotal" dataField="getTotal" [allowEditing]="false" dataType="number"></dxi-column>
                  </dx-data-grid>
                </dxi-item>
              </dx-form>
              <!--  Once-Off Items-->
              <h5 class="io-view-heading-preview" style="margin-top:20px" *ngIf="data?.invoice.invoiceOnceOffItems.length > 0">Once-Off Items</h5>
              <dx-form id="form" class="invoice-form" *ngIf="data != null; else DataLoading" [(formData)]="data.onceOffItems" validationGroup="internalOrderData">
                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                  <dx-data-grid #invoiceitems id="invoiceitems" [dataSource]="data.invoice.invoiceOnceOffItems"
                                [columnAutoWidth]="true"
                                [hoverStateEnabled]="true"
                                [rowAlternationEnabled]="true"
                                (onEditorPreparing)="onEditorPreparingChild($event)"
                                (onSaved)="onSaved($event)"
                                [showBorders]="true">
                    <dxo-sorting mode="none"></dxo-sorting>
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxo-search-panel [visible]="false"></dxo-search-panel>
                    <dxo-editing mode="cell"
                                 [allowUpdating]="true"
                                 [allowDeleting]="false"
                                 [allowAdding]="false">
                    </dxo-editing>
                    <dxi-column caption="Item Code" dataField="code" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Supplier Desc" dataField="description" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="glcodeId" caption="GL Code" [allowEditing]="false">
                      <dxo-lookup [dataSource]="GLCodeForeignDataSource"
                                  [displayExpr]="getGLName"
                                  valueExpr="id">
                      </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="departmentId" caption="Department" [allowEditing]="false" [width]="90">
                      <dxi-validation-rule type="required"></dxi-validation-rule>
                      <dxo-lookup [dataSource]="DepartmentForeignDataSource"
                                  displayExpr="name"
                                  valueExpr="id">
                      </dxo-lookup>
                    </dxi-column>
                    <dxi-column caption="UoM" dataField="uomName" [allowEditing]="false"></dxi-column>
                    <!--<dxi-column caption="GRN Qty Rec" dataField="grnQtyTotal" [allowEditing]="false"></dxi-column>-->
                    <dxi-column caption="Qty Ordered" dataField="requiredQuantity" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Qty Remaining" [calculateDisplayValue]="getRemaining" dataField="remaining" [allowEditing]="false"></dxi-column>
                    <!--<dxi-column caption="" dataField="quantity" [allowEditing]="false" [visible]="false"></dxi-column>-->
                    <dxi-column caption="Qty Received" dataField="quantity" [allowEditing]="false"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
                    <dxi-column caption="Pack Size" dataField="packSize" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Total (UoM)" [calculateDisplayValue]="getTotalUomReceived" dataField="totalUomReceived" [allowEditing]="false" dataType="number"></dxi-column>
                    <dxi-column caption="Price per PO" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="itemValue" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Invoice Price" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="invoicePrice" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="vatAppl" caption="VAT Appl" dataType="boolean" [allowEditing]="false" [width]="50">
                      <dx-check-box [value]="false"></dx-check-box>
                    </dxi-column>
                    <dxi-column caption="Total (Excl. VAT)" [format]="{ type: 'currency',currency: currency, precision: 2 }" [calculateDisplayValue]="getTotal" dataField="getTotal" [allowEditing]="false" dataType="number"></dxi-column>
                  </dx-data-grid>
                </dxi-item>
              </dx-form>
              <!--  Services-->
              <h5 class="io-view-heading-preview" style="margin-top:20px" *ngIf="data?.invoice.invoiceServiceItems.length > 0">Services</h5>
              <dx-form id="form" class="invoice-form" *ngIf="data != null; else DataLoading" [(formData)]="data.services" validationGroup="internalOrderData">
                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                  <dx-data-grid #invoiceitems id="invoiceitems" [dataSource]="data.invoice.invoiceServiceItems"
                                [columnAutoWidth]="true"
                                [hoverStateEnabled]="true"
                                [rowAlternationEnabled]="true"
                                (onEditorPreparing)="onEditorPreparingChild($event)"
                                (onSaved)="onSaved($event)"
                                [showBorders]="true">
                    <dxo-sorting mode="none"></dxo-sorting>
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxo-search-panel [visible]="false"></dxo-search-panel>
                    <dxo-editing mode="cell"
                                 [allowUpdating]="true"
                                 [allowDeleting]="false"
                                 [allowAdding]="false">
                    </dxo-editing>
                    <dxi-column caption="Code" dataField="code" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Supplier Desc" dataField="description" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="glcodeId" caption="GL Code" [allowEditing]="false">
                      <dxo-lookup [dataSource]="GLCodeForeignDataSource"
                                  [displayExpr]="getGLName"
                                  valueExpr="id">
                      </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="departmentId" caption="Department" [allowEditing]="false" [width]="90">
                      <dxi-validation-rule type="required"></dxi-validation-rule>
                      <dxo-lookup [dataSource]="DepartmentForeignDataSource"
                                  displayExpr="name"
                                  valueExpr="id">
                      </dxo-lookup>
                    </dxi-column>
                    <dxi-column caption="Qty Ordered" dataField="requiredQuantity" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Qty Remaining" [calculateDisplayValue]="getRemaining" dataField="remaining" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Qty Received" dataField="quantity" [allowEditing]="false" [setCellValue]="setCellValueQuantity" [calculateDisplayValue]="autoAddService"><dxi-validation-rule type="required"></dxi-validation-rule></dxi-column>
                    <dxi-column caption="Price per PO" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="itemValue" [allowEditing]="false"></dxi-column>
                    <dxi-column caption="Invoice Price" [format]="{ type: 'currency',currency: currency, precision: 2 }" dataField="invoicePrice" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="vatAppl" caption="VAT Appl" dataType="boolean" [allowEditing]="false" [width]="50">
                      <dx-check-box [value]="false"></dx-check-box>
                    </dxi-column>
                    <dxi-column caption="Total (Excl. VAT)" [format]="{ type: 'currency',currency: currency, precision: 2 }" [calculateDisplayValue]="getTotalService" dataField="getTotal" [allowEditing]="false" dataType="number"></dxi-column>
                  </dx-data-grid>
                </dxi-item>
              </dx-form>
            </div>
            </dx-scroll-view>
          </dxi-item>
        </dx-form>
                    </div>
                  </div>
                </div>
              </div>
                </dx-tab-panel>
              </dxi-item>
              <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                <dxi-item itemType="button"
                          horizontalAlignment="left"
                          [buttonOptions]="AddUpdateInvoiceCancelBtn">
                </dxi-item>
                <dxi-item itemType="button"
                          horizontalAlignment="right"
                          [buttonOptions]="AddUpdateInvoiceBtn">
                </dxi-item>
              </dxi-item>
            </dx-form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <dx-popup [width]="600"
            [height]="600"
            [showTitle]="true"
            title="Invoice Builder"
            [dragEnabled]="false"
            [showCloseButton]="false"
            [(visible)]="builderVisible">
    <dxi-toolbar-item widget="dxButton"
                      toolbar="bottom"
                      location="before"
                      [options]="InvoiceBuilderCancel">
    </dxi-toolbar-item>
    <dxi-toolbar-item widget="dxButton"
                      toolbar="bottom"
                      location="after"
                      [options]="InvoiceBuilder">
    </dxi-toolbar-item>
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view width="100%" height="100%" showScrollbar="never" [useNative]="false" mode="infinite">
        <div style="width: auto; height: auto">
          <table class="table table-centered table-nowrap table-spaces" *ngFor="let grn of capturedItems?.invoiceableGrnItems">
            <tbody>
              <h5>{{grn.grnNumber}} - {{grn.dateCreated | date: 'dd MMMM yy'}}</h5>
              <tr *ngFor="let item of grn?.grnItems">
                <td *ngIf="item?.receivedQuantity > 0 && item?.quantity > 0">
                  <dx-check-box [(value)]="item.itemChecked" text="{{item.manufacturerProductName}} (Received Qty - {{item.quantity}})"></dx-check-box>
                </td>
              </tr>
              <tr *ngFor="let item of grn?.grnonceOffItems">
                <td *ngIf="item?.receivedQuantity > 0 && item?.quantity > 0">
                  <dx-check-box [(value)]="item.itemChecked" text="{{item.description}} (Received Qty - {{item.quantity}})"></dx-check-box>
                </td>
              </tr>
            </tbody>
          </table>
          <h5 class="builder-heading" *ngIf="capturedItems?.invoiceableServices.length > 0">Services</h5>
          <table class="table table-centered table-nowrap" *ngFor="let service of capturedItems?.invoiceableServices">
            <tbody>
              <tr>
                <td *ngIf="service?.quantity > 0">
                  <dx-check-box [(value)]="service.itemChecked" text="{{service.description}} (Received Qty - {{service.quantity}})"></dx-check-box>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="capturedItems?.invoiceableServices.length == 0 && capturedItems?.invoiceableGrnItems.length == 0">
            <h3 class="invoice-info">No available GRN for the invoice.</h3>
          </div>
        </div>
      </dx-scroll-view>
    </div>
  </dx-popup>
  <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false"></dx-load-panel>
  <ng-template #DataLoading>Loading Data...</ng-template>
  <!-- end page title -->
</div> <!-- container-fluid -->
