.icon-inline {
  display: inline-flex;
}

#info {
  font-size: 19px !important;
  font-weight: 600;
  margin-left: 8px;
  color: #2a3042;
}

.green {
  background-color: #d1f9d1
}
.yellow {
  background-color: #f6fbc8
}
.blue {
  background-color: #e3dfff
}
.white {
  background-color: #00000000
}
