.io-view-heading {
  border: 1px solid #2a3042;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  background-color: #2a304226;
  color: #2a3042;
}

.invoice-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.sub-heading {
  text-align: center !important;
}

.table-align {
  margin-bottom: 25px !important;
}

.button-align-left {
  float: left !important;
}

.border-app-left {
  border-left: 10px solid #34c38f !important;
}

.border-den-left {
  border-left: 10px solid #f46a6a !important;
}

.highlight {
  background-color: yellow !important;
  padding: 3px !important;
  border-radius: 4px !important;
}
