<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body pt-0 text-center">
            <div class="alert alert-success text-center mb-4" role="alert">
              Password successfully updated! You can now log in.
            </div>
            <p>Log in<a routerLink="/account/login" class="fw-medium text-primary"> Here</a> </p>
          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <div class="yearfooter">          
          <p>{{year}} © Amfi Composites.</p>
        </div>

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
