.icon-inline {
  display: inline-flex;
}

#info {
  font-size: 19px !important;
  font-weight: 600;
  margin-left: 8px;
  color: #2a3042;
}

/*::ng-deep .dx-row.dx-data-row.dx-column-lines.dx-state-hover td {
  background: #337ab76b !important;
} */
