<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="TraceFile" xsi:type="File"
		  layout="${longdate} | ${uppercase:${level}} | ${processname} | ${callsite} | Line: ${callsite-linenumber} | ${message} | ${exception:format=tostring}"
		  fileName="${basedir}/logs/Trace.log"
		  archiveFileName="${basedir}/logs/Archive/archive_Trace.{#}.log"
		  archiveEvery="Hour"
		  archiveNumbering="Date"
		  archiveDateFormat="yyyy-MM-dd-HH"
		  maxArchiveFiles="500"
    />

	  <target name="ErrorFile" xsi:type="File"
		 layout="${longdate} | ${uppercase:${level}} | ${processname} | ${callsite} | Line: ${callsite-linenumber} | ${message} | ${exception:format=tostring}"
		 fileName="${basedir}/logs/Error.log"
		 archiveFileName="${basedir}/logs/Archive/archive_Error.{#}.log"
		 archiveEvery="Day"
		 archiveNumbering="Date"
		 archiveDateFormat="yyyy-MM-dd"
		 maxArchiveFiles="50"
    />
  </targets>>

  <rules>
    <logger enabled="true" name="*" minlevel="Trace" writeTo="TraceFile" />
	<logger enabled="true" name="*" minlevel="Error" writeTo="ErrorFile" />
  </rules>
</nlog>
