.account-pages {
  background-color: #f2f2f5  !important;
  color:#000000 !important;
}
.btn-primary {
  background-color: #2a3042 !important;
  border-color: #2a3042 !important;
  color:#ffffff !important;
}
.text-primary {
  color: #2a3042 !important;
}
.display-2{
    font-size:70px !important;
}
