<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Invoices</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Purchasing → Invoices</li>
          </ol>
        </div>
      </div>
      <!--ADD START-->
      <div class="table-align">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12 table-col">
            <h5 class="io-view-heading">Add Invoice</h5>
            <dx-form class="invoice-form" [showValidationSummary]="false" [(formData)]="dataAdd">
              <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                <dxi-item dataField="internalOrderid" editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: InternalOrdersForeignDataSource,displayExpr:getInternalOrder,valueExpr:'id',searchEnabled:true, showClearButton:'true' }">
                  <dxo-label [text]="'Select PO'"></dxo-label>
                  <dxi-validation-rule type="required" message="Internal Order Number is required">
                  </dxi-validation-rule>
                </dxi-item>
                <dxi-item itemType="button" alignment="left" [buttonOptions]="AddInvoice">
                </dxi-item>
              </dxi-item>
            </dx-form>
          </div>
        </div>
      </div>
      <!--ADD END-->
      <!--EDIT START-->
      <div class="table-align">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12 table-col">
            <h5 class="io-view-heading">Edit Invoice</h5>
            <dx-form class="invoice-form" [showValidationSummary]="false" [(formData)]="dataEdit">
              <dxi-item itemType="group" [colCount]="4" [colSpan]="4">
                <dxi-item dataField="internalOrderid" editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: InternalOrdersForeignDataSourceEdit,displayExpr:'approvedIOSupplierName',valueExpr:'id',searchEnabled:true, showClearButton:'true',onValueChanged:setInvEdit }">
                  <dxo-label [text]="'Select PO'"></dxo-label>
                </dxi-item>
                <dxi-item dataField="invoiceEditid" editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: InvoicesForeignDataSource,displayExpr:'invoiceNumber',valueExpr:'id',searchEnabled:true, showClearButton:'true',onValueChanged:onValueChangedSupplierNr,value:supplierInvoiceNumber}">
                  <dxo-label [text]="'Supplier Invoice Nr'"></dxo-label>
                  <dxi-validation-rule type="required" message="Supplier Invoice Number is required">
                  </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="id" editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: InvoicesForeignDataSource,displayExpr:'id',valueExpr:'id',searchEnabled:true, showClearButton:'true',onValueChanged:onValueChangedInternalNr,value:internalInvoiceNumber}">
                  <dxo-label [text]="'Internal Invoice Nr'"></dxo-label>
                  <dxi-validation-rule type="required" message="Internal Order Number is required">
                  </dxi-validation-rule>
                </dxi-item>
                <dxi-item itemType="button" alignment="left" [buttonOptions]="EditInvoice">
                </dxi-item>
              </dxi-item>
            </dx-form>
          </div>
        </div>
      </div>
      <!--EDIT END-->
      <!--DELETE START-->
      <div class="table-align">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-12 table-col">
            <h5 class="io-view-heading">Delete Invoice</h5>
            <dx-form class="invoice-form" [showValidationSummary]="false" [(formData)]="dataDelete">
              <dxi-item itemType="group" [colCount]="4" [colSpan]="4">
                <dxi-item dataField="internalOrderid" editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: InternalOrdersForeignDataSourceDlt,displayExpr:'approvedIOSupplierName',valueExpr:'id',searchEnabled:true, showClearButton:'true',onValueChanged:setInvDlt }">
                  <dxo-label [text]="'Select PO'"></dxo-label>
                </dxi-item>
                <dxi-item dataField="invoiceDeleteid" editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: InvoicesForeignDataSource,displayExpr:'invoiceNumber',valueExpr:'id',searchEnabled:true, showClearButton:'true', onValueChanged:onValueChangedSupplierNrDlt,value:supplierInvoiceNumberDlt}">
                  <dxo-label [text]="'Supplier Invoice Nr'"></dxo-label>
                  <dxi-validation-rule type="required" message="Supplier Invoice Number is required">
                  </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="id" editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: InvoicesForeignDataSource,displayExpr:'id',valueExpr:'id',searchEnabled:true, showClearButton:'true',onValueChanged:onValueChangedInternalNrDlt,value:internalInvoiceNumberDlt }">
                  <dxo-label [text]="'Internal Invoice Nr'"></dxo-label>
                  <dxi-validation-rule type="required" message="Internal Order Number is required">
                  </dxi-validation-rule>
                </dxi-item>
                <dxi-item itemType="button" alignment="left" [buttonOptions]="DeleteInvoice">
                </dxi-item>
              </dxi-item>
            </dx-form>
          </div>
        </div>
      </div>
      <!--DELETE END-->
      <!--POPUP Delete Invoice-->
      <dx-popup width="auto" height="400px" [showTitle]="true" [title]="RemoveInvoice" dragEnabled="true"
        [closeOnOutsideClick]="false" [showCloseButton]="true" container=".dx-viewport" [(visible)]="popupVisible">
        <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after" [options]="InvoiceRemove">
        </dxi-toolbar-item>
        <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="before" [options]="CancelRemove">
        </dxi-toolbar-item>
        <div *dxTemplate="let data of 'content'">
          <div style="width: auto; height: auto">
            <dx-scroll-view width="100%" height="100%" showScrollbar="never">
              <table class="table table-centered table-nowrap">
                <tr class="io-views-heading">
                  <td colspan="2">Internal Order Details</td>
                </tr>
                <tr>
                  <td class="tr-top-padding"><strong>Requested By:</strong>
                    {{popupDeleteData.internalOrder.requestByFullName}}</td>
                  <td class="tr-top-padding"><strong>Placed By:</strong>
                    {{popupDeleteData.internalOrder.placedByFullName}}</td>
                </tr>
                <tr>
                  <td><strong>Supplier:</strong> {{popupDeleteData.internalOrder.supplierFullName}}</td>
                  <td><strong>Date Created:</strong> {{popupDeleteData.internalOrder.dateCreated | date: 'dd MMMM yy'}}
                  </td>
                </tr>
                <tr>
                  <td class="tr-bottom-padding"><strong>Internal Order Total (Excl. VAT):
                    </strong>{{popupDeleteData.internalOrder.total | currency: currency}} </td>
                </tr>
                <tr class="io-views-heading">
                  <td colspan="2">Invoice Details</td>
                </tr>
                <tr>
                  <td class="tr-top-padding"><strong>Internal Order
                      Number:</strong>{{popupDeleteData.invoice.internalOrderId}}</td>
                  <td class="tr-top-padding"><strong>Invoice Total (Excl. VAT):
                    </strong>{{popupDeleteData.invoice.expectedTotal | currency : currency}} </td>
                </tr>
              </table>
            </dx-scroll-view>
          </div>
        </div>
      </dx-popup>
    </div>
  </div>
  <!-- end page title -->
</div> <!-- container-fluid -->
