
.io-header {
  background-color: #72737838;
  color: #2a3042;
}

.badge {
  padding: 6px 6px !important;
  font-size: 80% !important;
}

.float-right {
  text-align: right !important;
}

.currency-div {
  padding-top: 26px;
}

.currency-a {
  font-weight: bold;
  padding: 5px;
  color: #495057;
}

.currency-span-up {
  font-weight: normal;
  color: #5cb85c;
}

.currency-span-down {
  font-weight: normal;
  color: #d9534f;
}
