<div class="container-fluid">
    <!-- start page title -->
  <div class="row">    
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Project Costing</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Projects → Project Costing → {{Page}}</li>
          </ol>
          <dx-select-box style="margin-top: 10px; margin-bottom: -10px;" #selectBox
                         [items]="layouts"
                         [value]="layouts[0]"
                         (onValueChanged)="onValueChanged($event)">
          </dx-select-box>
        </div>
      </div>
      <div class="table-align">
        <div class="col-md-12 col-sm-12 col-12 table-col">
          <!-- OPEN PROJECTS-->
          <dx-data-grid [(visible)]="OpenGrid" #openProjects id="roles" [dataSource]="dataSource"
                        [remoteOperations]="true"
                        showBorders="true"
                        keyExpr="id"
                        showRowLines="true"
                        showColumnLines="true"
                        [hoverStateEnabled]="true" class="dx-table"
                        (onExporting)="onExporting($event)"
                        (onExported)="onExported($event)"
                        (onCellPrepared)="onCellPrepared($event)"
                        [wordWrapEnabled]="true"
                        [columnAutoWidth]="true"
                        [showColumnLines]="true"
                        [showRowLines]="false"
                        [showBorders]="false"
                        [rowAlternationEnabled]="true">
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true"
                       [allowedPageSizes]="[10, 15, 20, 25, 50]"
                       [showInfo]="true"
                       [showNavigationButtons]="true">
            </dxo-pager>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="Project-Costing"></dxo-export>
            <dxi-column dataField="name" caption="Project Name"></dxi-column>
            <dxi-column dataField="daysLeft" caption="Days Left"></dxi-column>
            <dxi-column dataField="budget" caption="Project Budget" [format]="currencyZAR"></dxi-column>
            <dxi-column dataField="allInternalOrderTotals" caption="Project Spend" [format]="currencyZAR"></dxi-column>
            <dxi-column dataField="difference" caption="Remaining Budget" [format]="currencyZAR"></dxi-column>
          </dx-data-grid>
          <!-- CLOSED PROJECTS-->
          <dx-data-grid [(visible)]="CloseGrid" #closeProjects id="roles" [dataSource]="dataSourceClose"
                        [remoteOperations]="true"
                        showBorders="true"
                        keyExpr="id"
                        showRowLines="true"
                        showColumnLines="true"
                        [hoverStateEnabled]="true" class="dx-table"
                        (onExporting)="onExporting($event)"
                        (onExported)="onExported($event)"
                        (onCellPrepared)="onCellPrepared($event)"
                        [wordWrapEnabled]="true"
                        [columnAutoWidth]="true"
                        [showColumnLines]="true"
                        [showRowLines]="false"
                        [showBorders]="false"
                        [rowAlternationEnabled]="true">
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true"
                       [allowedPageSizes]="[10, 15, 20, 25, 50]"
                       [showInfo]="true"
                       [showNavigationButtons]="true">
            </dxo-pager>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="Project-Costing"></dxo-export>
            <dxi-column dataField="name" caption="Project Name"></dxi-column>
            <dxi-column dataField="budget" caption="Project Budget" [format]="currencyZAR"></dxi-column>
            <dxi-column dataField="allInternalOrderTotals" caption="Project Spend" [format]="currencyZAR"></dxi-column>
            <dxi-column dataField="difference" caption="Profit" [format]="currencyZAR"></dxi-column>
          </dx-data-grid>
          <dx-popup [width]="400"
                    [height]="150"
                    [showTitle]="false"
                    [dragEnabled]="false"
                    [closeOnOutsideClick]="false"
                    [showCloseButton]="false"
                    [(visible)]="popupDownloadConfirmVisible">

            <dxi-toolbar-item widget="dxButton"
                              itemType="group"
                              toolbar="bottom"
                              location="center"
                              [options]="yesDownloadButtonOptions">
            </dxi-toolbar-item>

            <dxi-toolbar-item widget="dxButton"
                              itemType="group"
                              toolbar="bottom"
                              location="center"
                              [options]="noDownloadButtonOptions">
            </dxi-toolbar-item>

            <dxo-position at="center"
                          my="center"
                          of="window">
            </dxo-position>
            <p style="text-align: center">
              Are you sure you want to download this file?
            </p>
          </dx-popup>
        </div>
      </div>
    </div>
  </div>
    <!-- end page title -->
</div> <!-- container-fluid -->
