.rounded-pill {
  margin-left: 5px;
  margin-top: 2px;
}

.io-header {
  background-color: #72737838;
  color: #2a3042;
}

.badge {
  padding: 6px 6px !important;
  font-size: 80% !important;
}

.float-right {
  text-align: right !important;
}
