.icon-inline {
  display: inline-flex;
}

#info {
  font-size: 19px !important;
  font-weight: 600;
  margin-left: 8px;
  color: #2a3042;
}

.error {
  color: red;
  float: right;
  padding-top: 5px;
  cursor: pointer;
}

.tabs {
  padding: 5px;
}

.dx-toast-message {
  white-space: pre-line;
}

.icon-inline {
  display: inline-flex;
}

.info {
  width: 100%;
  border: 2px solid #337ab7;
  border-radius: 4px;
  background-color: #337ab73b;
}
