.account-pages {
  background-color: #f2f2f5 !important;
}
.bg-soft {
  background-color: #4950577d !important; 
  color: #ffffff !important;
}
P, h5.text-primary {
  color: #ffffff !important;
  }
.btn-primary {
  background-color: #2a3042 !important;
}
