.io-view-heading {
  border: 1px solid #2a3042;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  background-color: #2a304226;
  color: #2a3042;
}

.invoice-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.sub-heading{
    text-align:center !important;
}

.table-align {
  margin-bottom: 25px !important;
}

.total {
  background-color: #ffff0091;
  border-radius: 4px;
}

.io-views-heading {
  //border: 1px solid #2a3042;
  padding: 4px !important;
  //border-radius: 4px;
  text-align: center !important;
  background-color: #2a304226 !important;
  color: #2a3042 !important;
}

.tr-top-padding {
  padding-top: 15px;
}

.tr-bottom-padding {
  padding-bottom: 15px;
}
