<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Transfer Stock</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Stock Management → Transfer Stock</li>
          </ol>
        </div>
      </div>
      <div class="table-align">
        <div class="col-md-12 col-sm-12 col-12 table-col">
          <dx-data-grid #status id="roles" [dataSource]="dataSource"
                        [remoteOperations]="true"
                        showBorders="true"
                        keyExpr="id"
                        showRowLines="true"
                        showColumnLines="true"
                        [hoverStateEnabled]="true" class="dx-table"
                        [wordWrapEnabled]="true"
                        [columnAutoWidth]="true"
                        [showColumnLines]="true"
                        [showRowLines]="false"
                        [showBorders]="false"
                        (onExporting)="onExporting($event)"
                        (onExported)="onExported($event)"
                        [rowAlternationEnabled]="true"
                        (onToolbarPreparing)="onToolbarPreparing($event)">
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-paging [pageSize]="15"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true"
                       [allowedPageSizes]="[10, 15, 20, 25, 50]"
                       [showInfo]="true"
                       [showNavigationButtons]="true">
            </dxo-pager>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-group-panel [visible]="true"></dxo-group-panel>

            <dxo-editing mode="form"
                         [allowAdding]="false"
                         [allowUpdating]="false"
                         [allowDeleting]="false"
                         [useIcons]="true">
            </dxo-editing>

            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
            <dxo-export [enabled]="true" fileName="Location-List"></dxo-export>

            <dxi-column dataField="code" [groupIndex]="1" caption="Item Code" [formItem]="{ disabled: true }"></dxi-column>
            <dxi-column dataField="productName" caption="Item Name" [formItem]="{ disabled: true }"></dxi-column>
            <dxi-column dataField="internalProductName" [groupIndex]="2" caption="Internal Item Name" [formItem]="{ disabled: true }" [groupIndex]="1"></dxi-column>
            <dxi-column dataField="stockCategoryId" caption="Stock Category" [formItem]="{ disabled: true }">
              <dxo-lookup [dataSource]="StockCategoryForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>

            <dxi-column dataField="stockGroupId" caption="Stock Group" [formItem]="{ disabled: true }">
              <dxo-lookup [dataSource]="StockGroupForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>

            <dxi-column dataField="departmentId" caption="Department" [formItem]="{ disabled: true }">
              <dxo-lookup [dataSource]="DepartmentForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="locationId" caption="Plant Location" [groupIndex]="0" [editorOptions]="{showClearButton:true,onValueChanged:setStoreValue,hint:'Select a plant location to transfer the stock to'}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
              <dxo-lookup [dataSource]="LocationForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="storeId" caption="Store" [editorOptions]="{hint:'Select a plant location to transfer the stock to'}">
              <dxi-validation-rule type="required"></dxi-validation-rule>
              <dxo-lookup [dataSource]="StoreForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="storeTypeId" caption="Store Type" [formItem]="{ disabled: true }">
              <dxo-lookup [dataSource]="StoreTypeForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="supplierCurrencyId" caption="ISO" [visible]="false" [formItem]="{ visible: false }">
              <dxo-lookup [dataSource]="CurrencyForeignDataSource"
                          displayExpr="iso"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="storageTypeId" caption="Storage Type">
              <dxo-lookup [dataSource]="StorageTypeForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="price" caption="Price" [calculateCellValue]="priceISO" alignment="right" [formItem]="{ disabled: true }"></dxi-column>
            <dxi-column dataField="quantity" caption="Quantity" [formItem]="{ disabled: true }" [calculateCellValue]="initialUomQuantity"></dxi-column>
            <dxi-column dataField="uomid" caption="UoM" [visible]="false" [formItem]="{ disabled: true }">
              <dxo-lookup [dataSource]="UnitofMeasureForeignDataSource"
                          displayExpr="name"
                          valueExpr="id">
              </dxo-lookup>
            </dxi-column>
            <dxo-summary>
              <dxi-group-item column="quantity"
                              summaryType="sum"
                              displayFormat="{0} UoM">
              </dxi-group-item>
              <!-- <dxi-group-item column="price"
                      summaryType="sum"
                      [customizeText]="randFormatConversion"
                      displayFormat="Total: R {0}">
      </dxi-group-item>-->
            </dxo-summary>
          </dx-data-grid>
          <dx-popup title="Transfer Stock by Plant Location & Store"
                    [width]="850"
                    height="auto"
                    [showTitle]="true"
                    dragEnabled="true"
                    [closeOnOutsideClick]="false"
                    [showCloseButton]="true"
                    container=".dx-viewport"
                    [(visible)]="popupTransferStockVisible">

            <dxi-toolbar-item widget="dxButton"
                              toolbar="bottom"
                              location="before"
                              [options]="buttonCancel">
            </dxi-toolbar-item>
            <dxi-toolbar-item widget="dxButton"
                              toolbar="bottom"
                              location="after"
                              [options]="buttonOk">
            </dxi-toolbar-item>
            <dx-scroll-view width="100%" height="100%" showScrollbar="never">
              <table class="info" *ngIf="stockInfo">
                <tr>
                  <td><strong>Code: </strong>{{code}}</td>
                  <td><strong>Item Name: </strong>{{productName}}</td>
                </tr>
                <tr>
                  <td><strong>Unit Quantity: </strong>{{unitQty}}{{uomName}}</td>
                  <td><strong>Pack Size: </strong>{{packSize}}</td>
                  <td><strong>Pack Quantity: </strong>{{packQty}}{{uomName}}</td>
                </tr>
                <tr *ngIf="totalLocation" style="background-color: yellow; border-radius: 4px;">
                  <td><strong>Total Location Quantity: </strong>{{totalLocation}}{{uomName}}</td>
                  <td *ngIf="totalStore"><strong>Total Store Quantity: </strong>{{totalStore}}{{uomName}}</td>
                </tr>
              </table><br />
              <dx-form id="transferStockLocationForm"
                       [colCount]="4"
                       [(formData)]="stockTransferLocation"
                       (onInitialized)="savetransferStockLocationFormInstance($event)">
                <dxi-item itemType="group" [colSpan]="4">
                  <dxi-item dataField="stockId" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: StockForeignDataSource,displayExpr:'internalProductName',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a stock item you would like to transfer.' ,onValueChanged:setLocations}">
                    <dxo-label [text]="'Stock Item'"></dxo-label>
                    <dxi-validation-rule type="required" message="Stock Item is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="originLocation" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: FilteredLocationForeignDataSource,displayExpr:'name',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a location you want to remove stock from.',onValueChanged:setStoreValue }">
                    <dxo-label [text]="'Current Location'"></dxo-label>
                    <dxi-validation-rule type="required" message="Current Location is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="originStore" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: StoreForeignDataSource,displayExpr:'name',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a store you want to remove stock from.' ,onValueChanged:getStoreTotal}">
                    <dxo-label [text]="'Current Store'"></dxo-label>
                    <dxi-validation-rule type="required" message="Current Store is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="newLocation" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: LocationForeignDataSource,displayExpr:'name',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a location you want to transfer stock to.',onValueChanged:setNewStoreValue }">
                    <dxo-label [text]="'New Location'"></dxo-label>
                    <dxi-validation-rule type="required" message="New Location is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="newStore" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: NewStoreTypeForeignDataSource,displayExpr:'name',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a store you want to transfer stock to.' }">
                    <dxo-label [text]="'New Store'"></dxo-label>
                    <dxi-validation-rule type="required" message="New Store is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="quantityOption"
                            editorType="dxRadioGroup"
                            [editorOptions]="{ dataSource: priorities, layout:'horizontal',value:priorities[0],hint:'Select the option you would like to transfer by.'}">
                    <dxo-label [text]="'Transfer By'"></dxo-label>
                    <dxi-validation-rule type="required" message="UoM is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="packQuantityMove" [colSpan]="4" [editorOptions]="{hint:'Enter the quantity you wish to transfer.'}">
                    <dxo-label text="Quantity Transfering"></dxo-label>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="uomid" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: UomRemoveForeignDataSource,displayExpr:'name',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a unit of measurement (Only UoMs linked to the stock item wil display in the dropdown)' }">
                    <dxo-label [text]="'Unit of Measurement'"></dxo-label>
                    <dxi-validation-rule type="required" message="UoM is required"></dxi-validation-rule>
                  </dxi-item>
                </dxi-item>
              </dx-form>
            </dx-scroll-view>
          </dx-popup>

          <dx-popup title="Transfer Stock by Department"
                    [width]="800"
                    height="auto"
                    [showTitle]="true"
                    dragEnabled="true"
                    [closeOnOutsideClick]="false"
                    [showCloseButton]="true"
                    container=".dx-viewport"
                    [(visible)]="popupTransferStockDepVisible">

            <dxi-toolbar-item widget="dxButton"
                              toolbar="bottom"
                              location="before"
                              [options]="buttonCancelDep">
            </dxi-toolbar-item>
            <dxi-toolbar-item widget="dxButton"
                              toolbar="bottom"
                              location="after"
                              [options]="buttonOkDep">
            </dxi-toolbar-item>
            <dx-scroll-view width="100%" height="100%" showScrollbar="never">
              <table class="info" *ngIf="stockInfo">
                <tr>
                  <td><strong>Code: </strong>{{code}}</td>
                  <td><strong>Item Name: </strong>{{productName}}</td>
                </tr>
                <tr>
                  <td><strong>Unit Quantity: </strong>{{unitQty}}{{uomName}}</td>
                  <td><strong>Pack Size: </strong>{{packSize}}</td>
                  <td><strong>Pack Quantity: </strong>{{packQty}}{{uomName}}</td>
                </tr>
                <tr *ngIf="totalDep" style="background-color: yellow; border-radius: 4px;">
                  <td><strong>Total Department Quantity: </strong>{{totalDep}}{{uomName}}</td>
                </tr>
              </table><br />
              <dx-form id="transferStockDepForm"
                       [colCount]="4"
                       [(formData)]="stockTransferDepartment"
                       (onInitialized)="savetransferStockDepFormInstance($event)">
                <dxi-item itemType="group" [colSpan]="4">
                  <dxi-item dataField="stockId" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: StockForeignDataSource,displayExpr:'internalProductName',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a stock item you would like to transfer.' ,onValueChanged:setDepartments}">
                    <dxo-label [text]="'Stock Item'"></dxo-label>
                    <dxi-validation-rule type="required" message="UoM is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="originDepartment" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: FilteredDepartmentForeignDataSource,displayExpr:'name',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a department you want to remove stock from.',onValueChanged:getTotalStockDep }">
                    <dxo-label [text]="'Current Department'"></dxo-label>
                    <dxi-validation-rule type="required" message="UoM is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="newDepartment" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: DepartmentForeignDataSource,displayExpr:'name',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a department you want to transfer stock to.' }">
                    <dxo-label [text]="'Receiving Department'"></dxo-label>
                    <dxi-validation-rule type="required" message="UoM is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="quantityOption"
                            editorType="dxRadioGroup"
                            [editorOptions]="{ dataSource: priorities, layout:'horizontal',value:priorities[0],hint:'Select the option you would like to transfer by.'}">
                    <dxo-label [text]="'Transfer By'"></dxo-label>
                    <dxi-validation-rule type="required" message="UoM is required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="packQuantityMove" [colSpan]="4" [editorOptions]="{hint:'Enter the quantity you wish to transfer.'}">
                    <dxo-label text="Quantity Transfering"></dxo-label>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="uomid" [colSpan]="4" editorType="dxSelectBox" [editorOptions]="{dataSource: UomRemoveForeignDataSource,displayExpr:'name',valueExpr:'id',searchEnabled:true,showClearButton:true,hint:'Select a unit of measurement (Only UoMs linked to the stock item wil display in the dropdown)' }">
                    <dxo-label [text]="'Unit of Measurement'"></dxo-label>
                    <dxi-validation-rule type="required" message="UoM is required"></dxi-validation-rule>
                  </dxi-item>
                </dxi-item>
              </dx-form>
            </dx-scroll-view>
          </dx-popup>

          <dx-popup [width]="400"
                    [height]="150"
                    [showTitle]="false"
                    [dragEnabled]="false"
                    [closeOnOutsideClick]="false"
                    [showCloseButton]="false"
                    [(visible)]="popupDownloadConfirmVisible">

            <dxi-toolbar-item widget="dxButton"
                              itemType="group"
                              toolbar="bottom"
                              location="center"
                              [options]="yesDownloadButtonOptions">
            </dxi-toolbar-item>

            <dxi-toolbar-item widget="dxButton"
                              itemType="group"
                              toolbar="bottom"
                              location="center"
                              [options]="noDownloadButtonOptions">
            </dxi-toolbar-item>

            <dxo-position at="center"
                          my="center"
                          of="window">
            </dxo-position>
            <p style="text-align: center">
              Are you sure you want to download this file?
            </p>
          </dx-popup>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
</div> <!-- container-fluid -->
