<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Set Password</h5>
                  <p>Set-Password with ACS.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo-dark.png" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>

            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{error}}</ngb-alert>

              <div class="mb-3">
                <label for="password">Password</label>

                <input type="password" class="form-control" formControlName="password" placeholder="Enter password"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }" aria-label="Password"
                       aria-describedby="password-addon">
              </div>
              <div class="mb-3">
                <label for="confirmPassword">Confirm Password</label>

                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm password"
                       [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" aria-label="confirmPassword"
                       aria-describedby="password-addon">
              </div>

              <div class="text-end">
                <button class="btn btn-primary w-md" type="submit">Save</button>
              </div>
            </form>

          </div>  <!--end card-body-->
        </div>
        <div class="yearfooter">
          <p>{{year}} © Amfi Composites.</p>
        </div>

      </div>
    </div>
  </div>
</div>
