.icon-inline {
  display: inline-flex;
}

#info {
  font-size: 19px !important;
  font-weight: 600;
  margin-left: 8px;
  color: #2a3042;
}

.warning {
  background-color: #e74f4f;
  color: white !important;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

.warning-text{
    color:white;
}
