.account-pages {
  background-color: #f2f2f5 !important;
}
.bg-soft {
  background-color: #2a304257 !important;
  color: #ffffff !important;
}
P, h5.text-primary, text-end {
  color: #2a3042 !important;
}
.btn-primary {
  background-color: #2a3042 !important;
  border-color: #2a3042 !important;
}
